html,
body {
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  padding-top: 2em; }

footer {
  margin: 50px 0; }

img.img-responsive.mission, img.img-responsive.testimonials {
  float: left;
  padding: 20px 15px 70px 10px;
  max-width: 40%; }

a.navbar-brand {
  float: none; }

div.banner {
  position: relative;
  width: 328px;
  height: 43px;
  margin: -28px auto 0 auto; }

.carousel-inner {
  border-bottom: 3px solid #ffffff; }

#carouselButtons {
  margin-left: 100px;
  position: absolute;
  bottom: 0px; }

.header {
  padding-bottom: 64px; }

.navbar-inverse {
  background-color: black; }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 18px;
    font-weight: bold; }
  .navbar-inverse .img-responsive {
    width: 15%;
    padding: 0px 0px 0px 0rem; }

/*Sections*/
.package-container {
  margin-top: 25px;
  margin-bottom: 35px; }

.package-image {
  padding-top: 25px; }

.contact-image {
  padding-top: 25px; }

.footer {
  background-color: #4c5159;
  min-height: 60px;
  padding-top: 20px;
  margin-top: 45px; }
  .footer ul.footer-nav {
    list-style: none; }
    .footer ul.footer-nav li {
      display: inline-block; }
      .footer ul.footer-nav li a {
        padding: 0 10px;
        color: #ffffff; }

@media only screen and (max-width: 520px) {
  .navbar-inverse .img-responsive {
    width: 25%;
    padding-left: 2rem; } }
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar-inverse {
    border-bottom: 3px solid #ffffff; }
    .navbar-inverse .img-responsive {
      width: 45%; }

  .navbar-header {
    height: 104px; }

  ul.nav.navbar-nav {
    float: right;
    margin: 3rem 0px; }

  .header {
    padding-bottom: 65px; } }
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
